body {
    background: white;
    text-align: left;
    line-height: 30px;
}
p {
    font-family: 'Arial';
    font-size: 14px;
}
div {
    margin: 50px 35px 40px 35px;
}
div.img {
    margin: 50px 35px 40px 35px;
    padding-right: 80px
}
h1 {
    font-family: 'Arial Narrow';
    color: deeppink;
}
img {
    width: 40px;
    height: 40px;
}